<div class="header">
    <div class="container">
        <h1>Brian Kim</h1>
        <p>Unrelenting, brutally efficient, multifaceted, mature closet fascist</p>
    </div>
    <!--<div class="button-holder"><button>View my Work</button></div>-->
</div>