<div class="nav">
    <ul>
        <li>Main</li>
        <li>Blog</li>
        <li>About</li>
    </ul>
</div>

<div class="header">
    <div class="container">
        <h1>Brian Kim</h1>
        <p>Unrelenting, brutally efficient, multifaceted, mature closet fascist</p>
    </div>
</div>

<div class="main">
    <div class="row">
        <div class="col-md-5 col-sm-5">
            <img src="https://s3-us-west-2.amazonaws.com/edudebt.info/test-portfolio/20180201_111404.jpg" />
        </div>
        <div class="offset-md-1 col-md-6 col-sm-7">
            <p>Greetings, fellow humans. My name is Brian Kim, senior in high school, and this is the portfolio I made instead of paying attention in class.</p>
            <p>My main talents are web development, fiction writing and short stories in particular, philosophical musings, and literary analysis.</p>
            <p>In my spare time, I'm probably reading something, watching TedEd videos, and ingesting liquids. <span style="color: white">not</span> </p>
            <div class="button-holder"><button>View my Work</button></div>
        </div>
    </div>
</div>

<div class="footer">
    <a><img src="https://s3-us-west-2.amazonaws.com/edudebt.info/test-portfolio/instagram-social-network-logo-of-photo-camera.png" /></a>
    <a><img src="https://s3-us-west-2.amazonaws.com/edudebt.info/test-portfolio/facebook-logo.png" /></a>
    <a><img src="https://s3-us-west-2.amazonaws.com/edudebt.info/test-portfolio/linkedin-sign.png" /></a>
    <a><img src="https://s3-us-west-2.amazonaws.com/edudebt.info/test-portfolio/twitter-logo.png" /></a>
</div>