<div class="main">
    <div class="row">
        <div class="col-md-5 col-sm-5">
            <img src="https://s3-us-west-2.amazonaws.com/edudebt.info/test-portfolio/20180201_111404.jpg" />
        </div>
        <div class="desc offset-md-1 col-md-6 col-sm-7">
            <p>Greetings, fellow humans. My name is Brian Kim, senior in high school, and this is the portfolio I made instead of paying attention in class.</p>
            <p>My main talents are web development, fiction writing and short stories in particular, philosophical musings, and literary analysis.</p>
            <p>In my spare time, I'm probably reading something, watching TedEd videos, and ingesting liquids. <span style="color: white">not</span> </p>
        </div>
    </div>
    <div class="row">
        <div class="desc col-md-6 col-sm-7">
            <p>I'm currently learning to write in Python, C++, and Ruby. Java, but unwillingly. I'm also trying to become a full stack developer with Ruby on Rails.</p>
            <p>If you're at all inclined to hire me, I work ridiculous hours and only require occasional rest, feeding, and watering.</p>
            <p>Payment would be nice, obviously. I accept pretty much anything that I can use to pay for a Spotify Premium. Amazon gift cards work, too.</p>
        </div>
        <div class="offset-md-1 col-md-5 col-sm-5">
            <img src="https://s3-us-west-2.amazonaws.com/edudebt.info/test-portfolio/IMG_6291.JPG" />
        </div>
    </div>
</div>