<div class="main">
    <div class="row">
        <div class="offset-md-2 col-md-8 offset-sm-1 col-sm-10">Contact me through any of these methods!</div>
    </div>
    <div class="row">
        <div class="contact offset-md-0 col-md-4 offset-sm-2 col-sm-10"><%= link_to "Email", "mailto:bsk945@gmail.com" %></div>
        <div class="col-md-8"></div>
    </div>
    <div class="row">
        <div class="contact offset-md-4 col-md-4 col-sm-10"><%= link_to "Facebook", "https://www.facebook.com/profile.php?id=100012117677484" %></div>
        <div class="col-md-4"></div>
        <!-- <div class="offset-md-2 col-md-2"><img class="logo-img" src="https://s3-us-west-2.amazonaws.com/edudebt.info/test-portfolio/600px-Facebook_logo_(square).png" /></div> -->
    </div>
    <div class="row">
        <div class="contact offset-md-8 col-md-4 offset-sm-2 col-sm-10"><%= link_to "Github", "https://github.com/QuantumScrewdriver" %></div>
    </div>
</div>